

main {
  margin-bottom: 200px; 
}

footer {
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 200px;
  width: 100%;
  height: 120px;
  background-color: rgba(48, 47, 47, 0.8);
  padding: 20px;
}



.footer-title {
  font-family: "Love Light", sans-serif;
  font-size: 60px;
}

.footer-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-right: 10px;
}

.footer-links a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.5rem;

}

#footer-image a{
  font-size: 2.5rem;
  margin-left: 100px;
}

@media (max-width: 768px) {
  footer {
    background-color: rgba(48, 47, 47, 0.0);
    display: none;
  }
}
