section{
    color: white;
    text-shadow: 3px 3px rgba(50,50,70,0.5);
   
    height: 100vh;
}
.navBg{
    background-color: #87CEFA;
    
}
.navbar-brand {
    font-family: 'Love Light';
    font-weight: bold;
    font-size: 5.5rem;
    color: white;
  }
  
  .navbar-nav {
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav a {
    font-size: 1.2em;
    color: white;
}
.carrito-compras{
  padding-right: 150px;
}
.bonanav{
  padding-left: 50px;
}

